[2019-12-18 23:08] sibyl229 commented on #7468
@chris-grove display for premature stop codon is fixed now: https://staging.wormbase.org/species/c_elegans/variation/WBVar00000083#06b--10 I agree the way it was shown was erroneous/misleading.

[2019-12-19 01:19] wormbasehelp opened #7474 "is there a way to identify all of the annotated tr..."
*Help Desk query collected when no chat operators were online. Follow up required.*

is there a way to identify all of the annotated transcription factors in the genome?

**Reported by:** Pete***** (pete*****************)
**Submitted from:** <a target="_blank" href="http://wormbase.org/https://wormbase.org/tools#0--10">https://wormbase.org/tools#0--10</a>
**Browser:** Safari 13.0.3

[2019-12-19 20:52] sibyl229 commented on #7347
@chris-grove fixes for some of the issues for Textpresso link is ready for testing now:

1. https://staging.wormbase.org/species/c_elegans/variation/WBVar00000083#8--10
2. https://staging.wormbase.org/resources/wbprocess/WBbiopr:00000001#079--10
3. https://staging.wormbase.org/resources/molecule/WBMol:00002747#038--10
8. https://staging.wormbase.org/species/all/anatomy_term/WBbt:0001228#5--10
9. h

[2019-12-19 21:07] wormbasehelp opened #7476 "Access a gene prediction from an earl..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Access a gene prediction from an earlier WormBase release? Thanks!</p>

**Reported by:** Miri********** (mbgo***************)
**Submitted from:** <a target="_blank" href="http://wormbase.org//tools/support">/tools/support</a>
**Browser:** Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko

[2019-12-19 23:59] WenChenWormBase opened #7477 "Direct WormBase orthologs to AGR"
As we discussed after the AGR meeting, we should direct more WormBase users to AGR for better service. The first example is ortholog in other species.
For example, the Homology section on the gene page for emb-4:
https://wormbase.org/species/c_elegans/gene/WBGene00001258#048-9g6-3

instead of taking users to FlyBase or Ensembl, these orthologs should be directed to AGR.

[2019-12-20 13:58] epaule commented on #7476
while we do not keep archived versions of our website, we keep the data it is based on here: ftp://ftp.wormbase.org/pub/wormbase/releases/ For each species and release you should be able to get a GFF file with the respective gene models and fasta files with the transcripts/proteins/etc. 
In cases were the underlying assembly hasn't changed, you can also see them on the gene page in the history sec

[2019-12-20 13:58] #7476 closed

[2019-12-20 18:33] wormbasehelp opened #7478 "can i find sequence of a gene of interest on wormb..."
*Help Desk query collected when no chat operators were online. Follow up required.*

can i find sequence of a gene of interest on wormbase ? For example the gene JU1511 ?

**Reported by:** joe (jmga**************)
**Submitted from:** <a target="_blank" href="http://wormbase.org/https://wormbase.org/species/c_elegans/strain/WBStrain00000035#03--10">https://wormbase.org/species/c_elegans/strain/WBSt

[2019-12-22 16:18] wormbasehelp opened #7479 "Server Error: 500 at tools/gmap/run Error Me..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/tools/gmap/run?inline=1&class=rearrangement&name=mIn1&sequence=mIn1">tools/gmap/run</a></p><p></p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::Tools->tools "Could not connect to database acedb _WS274, host: c42a8d9b5e65" </p>

**Reported by:** Dana******* (dlm1*

[2019-12-23 16:33] wormbasehelp opened #7480 "Server Error: 500 at rest/widget/protein/CE22543..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/rest/widget/protein/CE22543/motif_details">rest/widget/protein/CE22543/motif_details</a></p><p></p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::REST->widget "Could not connect to database acedb _WS274, host: 4d7c90b68070" </p>

**Reported by:** Anon***** (vick**

[2019-12-24 13:25] wormbasehelp opened #7481 "Is there a tool for predicting the transcription f..."
*Help Desk query collected when no chat operators were online. Follow up required.*

Is there a tool for predicting the transcription factor from the DNA sequence? For example, I have 100 genes that were downregulated due to fungus infection and have many similar genes among them. Is there any tool or database that can predict the TFs of these downregulated genes?

**Reported by:** Hanw******** (v

[2019-12-29 02:49] wormbasehelp opened #7483 "What were you doing? ..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;</p><p>What were you doing? <br />&nbsp;&nbsp;
David D Y Choi ;
who is repairing used rotten bike from recycling lot,
to go around, due to income lessness status.

======================

Under the Sky,
One should be equal as long as Human Being.

Underprivileged social class,
Before the birth, even after the death,
this u

[2019-12-29 02:55] #7483 closed

[2019-12-29 23:26] #7442 closed

[2019-12-30 01:14] wormbasehelp opened #7484 "I'm curious if the lin-4 host gene officially goes..."
*Help Desk query collected when no chat operators were online. Follow up required.*

I'm curious if the lin-4 host gene officially goes by lho-1. If not what its official name? Thanks.

**Reported by:** Kevi********** (kevi**************************)
**Submitted from:** <a target="_blank" href="http://wormbase.org/http://dev.wormbase.org:9004/search/gene/lho-1">http://dev.wormbase.org:9004/search/

[2019-12-30 05:05] WenChenWormBase commented on #7484
Dear Kevin,

I cannot find any record in WormBase for the name lho-1. After I searched
our complete literature collection via Textpresso, I only found this
tentative name published by Liu FZ  and Ambros VR as meeting abstract and
gazette article. So I suppose this gene was never officially named.

Maybe you can ask Victor Ambros himself? Let me know if you get an answer.

BTW, most of us are gone

[2019-12-30 05:32] WenChenWormBase commented on #7478
Dear Joe,

JU1511 is not a gene name. It is a strain name.

Please let us know if you were looking for something else.

Wen Chen, Ph.D.
Curator, WormBase

On Fri, Dec 20, 2019 at 10:33 AM <no-reply@wormbase.org> wrote:

--
Wen Chen
Curator, WormBase

[2019-12-30 05:32] #7478 closed

[2020-01-01 00:24] Paul-Davis opened #7485 "GO_annotation No Gene"
Hi,

WS275 sees 4 GO_annotation not connected to a WBGene...this seems to cause an issue in producing the GAF file.

GO_annotation : "00101558"
GO_annotation : "00101578"
GO_annotation : "00101591"
GO_annotation : "00101629"

Added code to ignore GO_annotations not connected to a WBGene object,  this "might" have come about during WS275 production as all non-WBGenes genes were deleted?

Would be g

[2020-01-01 10:42] wormbasehelp opened #7486 "Hi there, I have a question relating ..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Hi there,<br/>I have a question relating to the lifespan phenotype of mlt-3 RNAi (https://wormbase.org/species/c_elegans/rnai/WBRNAi00070420#014--10):<br/>I looked up the original paper, and found no words about<br/>Y39C12A.1/mlt-3 in both the main body and the supplementary tables.<br/>On the other hand, the authors repor

[2020-01-01 21:16] vanaukenk commented on #7485
@Paul-Davis
I'll take a look and see what's happening here.

[2020-01-01 21:56] vanaukenk commented on #7485
These annotations had been fixed at the source (Noctua) but because the GO release pipeline was delayed they didn't get incorporated into the WS275 WB .ace file.
We now have a check for annotation objects coming from Noctua that don't correspond to WBGenes, so I'll double-check that the GO_annotations objects are okay for the WS276 upload.
Thanks for letting us know about this @Paul-Davis

[2020-01-01 21:56] #7485 closed

[2020-01-02 16:15] Paul-Davis commented on #7485
TY @vanaukenk

[2020-01-02 18:26] wormbasehelp opened #7487 "Server Error: 500 at rest/widget/index/c_elegans..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/rest/widget/index/c_elegans/all/assemblies">rest/widget/index/c_elegans/all/assemblies</a></p><p></p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::REST->widget_class_index "Could not connect to database acedb _WS274, host: b35be15935d5" </p>

**Reported by:** Chr

[2020-01-02 19:08] chris-grove commented on #7486
Hello,

Thanks for pointing out the issue. It looks as though the original annotation was made using the Ahringer RNAi clone "sjj_Y39C12A.b" that, likely at the time, was the only clone from that library that was expected to target the gene Y39C12A.2, which as you point out is mentioned in the paper. It seems like the authors used the Ahringer library for their screen, so clone sjj_Y39C12A.b would

[2020-01-02 19:08] #7486 closed

[2020-01-02 19:10] chris-grove commented on #7481
My email response:

"""
 WormBase has an under-utilized class called ?Transcription_factor which contains all of the manually annotated transcription factors. I'm attaching the list (Excel file) of Transcription_factor objects from the database for the WS274 release of WormBase. Note that I've filtered the list to only those that have an annotated "Product_of" gene listed. You can turn the filter

[2020-01-02 19:12] chris-grove commented on #7468
@sibyl229
Sorry for the delay! Yes, looks good. Thanks! Closing.

[2020-01-02 19:12] #7468 closed

[2020-01-02 19:13] chris-grove commented on #7474
My email response:

"""
 WormBase has an under-utilized class called ?Transcription_factor which contains all of the manually annotated transcription factors. I'm attaching the list (Excel file) of Transcription_factor objects from the database for the WS274 release of WormBase. Note that I've filtered the list to only those that have an annotated "Product_of" gene listed. You can turn the filter

[2020-01-02 19:13] #7474 closed

[2020-01-02 20:24] chris-grove commented on #7347
@sibyl229
Sorry for the delayed response. Looks great! I see that the changes have already gone live for WS274, which is good. So, it seems the remaining issues to deal with are:

5. Transgene searches should NOT include synonyms (do currently)
6. Construct searches based on Summary; should not search on Summary but ONLY public_name, when available
7. When anatomy term synonym includes the text "l

[2020-01-03 13:48] wormbasehelp opened #7488 "Server Error: 500 at db/gene/gene Error Mes..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/db/gene/gene?name=WBGene00003174;class=Gene">db/gene/gene</a></p><p>
</p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::ClassicCompatibility-&gt;misc "Could not connect to database acedb _WS274, host: 0c61484990a9" </p><p>What were you doing? <br />&nbsp;&nbsp;fol

[2020-01-03 21:48] chris-grove commented on #7481
Email to user:
"""
WormBase does not have such a tool. There are many online tools available (many of which are now deprecated or not maintained). You may be interested in this page summarizing promoter analysis tools:

https://bip.weizmann.ac.il/toolbox/seq_analysis/promoters.html

as well as this 2016 paper:

https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-016-1298-9

I could

[2020-01-03 21:48] #7481 closed

[2020-01-06 16:33] draciti opened #7489 "integrating data from basement membrane toolkit project"
From David Sherwood:
Dear Wormbase Help-
 
My lab has recently submitted a manuscript where we have tagged 30 basement membrane encoding genes with mNeonGreen and a few other fluorophores.  We’d love it if we could somehow transmit to wormbase our data on localization, quantitative levels of expression and the homology arms we used for CRISPR/Cas-9 mediated genome editing. 
 
Can you please put me

[2020-01-06 16:33] draciti commented on #7489
Dear David, 

Most of us are gone for the holiday so please excuse us for a late reply. The curator in charge of individual study expressions may get back to you after the holiday break. 

Happy New Year!

Wen Chen
Curator, WormBase

[2020-01-06 16:34] draciti commented on #7489
Dear Dave,

You can send me the manuscript as soon as is accepted and I will include your data in WormBase.

Happy new year!

Daniela

[2020-01-06 16:34] draciti commented on #7489
Wonderful!!
 
Can I also supply you with a letter to sign and email me for a grant application stating this?  I’m applying for an animal model grant where this would be very helpful for the reviewers to know-
 
Thanks Daniela-
 
Dave

[2020-01-06 16:34] draciti commented on #7489
Absolutely!

[2020-01-06 16:34] #7489 closed

[2020-01-06 17:11] tharris commented on #7488
Addressing.  Cannot respond to anonymous user using Tor browser.

[2020-01-06 17:11] #7488 closed

[2020-01-06 17:35] wormbasehelp opened #7490 "Dear WormBase, the "Enrichment Analy..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Dear WormBase, <br/>the "Enrichment Analysis " Tool link is not working. <br/>https://wormbase.org/tools/enrichment/tea/tea.cgi<br/>Thank you<br/>Yi</p>

**Reported by:** Yi W***** (yi.w************************)
**Submitted from:** <a target="_blank" href="http://wormbase.org//tools/support">/tools/support</a>
**Browser:**

[2020-01-06 17:42] chris-grove commented on #7490
Confirmed:
<img width="311" alt="Screenshot 2020-01-06 12 38 58" src="https://user-images.githubusercontent.com/611382/71836406-ed65af00-3081-11ea-8a09-17343c969558.png">

[2020-01-06 17:48] chris-grove commented on #7490
@raymond91125
SObA graphs are all down as well

[2020-01-06 18:32] raymond91125 commented on #7490
Hi Yi,

The enrichment tool is now restored. Thanks for the alert.

Cheers,

Raymond

On 06/01/2020 9:36 AM, no-reply@wormbase.org wrote:

--
__
Raymond Lee
raymond@caltech.edu
http://www.WormBase.org/
California Institute of Technology
Division of Biology and Biological Engineering
Mail Code 156-29
Pasadena, CA 91125
USA
tel: 626.395.2687

[2020-01-06 18:39] raymond91125 commented on #7490
for some reason apache2 went dead. restarted and everything seems good. for now.

[2020-01-06 18:39] #7490 closed

[2020-01-06 19:11] #6239 closed

[2020-01-06 19:11] #5436 closed

[2020-01-06 19:13] #5356 closed

[2020-01-06 20:08] chris-grove opened #7491 "Curated genes track cutoff in JBrowse image on PCR product page"
On this page:

https://wormbase.org/species/all/pcr_oligo/sjj_C54D1.5#1--10

The Location widget shows a JBrowse image in which the gene track is cutoff making it difficult to visualize where the PCR product/clone lies with respect to the surrounding genes:

<img width="1057" alt="Screenshot 2020-01-06 15 08 09" src="https://user-images.githubusercontent.com/611382/71845462-5fe08a00-3096-11ea-8dfb

[2020-01-06 20:35] scottcain commented on #7491
Strange--this might be some sort of edge case, since the resizing of the div seems to work correctly on other PCR pages as well as on gene pages.  More digging required.

[2020-01-07 19:59] WenChenWormBase commented on #7484
Hi Wen

thank you very much!

happy holidays

best

Kevin

[2020-01-07 19:59] #7484 closed

[2020-01-07 20:35] wormbasehelp opened #7492 "Tree Display problems"
*Help Desk chat transcript. Issue can be closed if question was resolved in chat.*

visitor_name (visitor_email): https://wormbase.org/resources/person/WBPerson31635#05--10</br>Chris: Hey Raymond, what's up?</br>visitor_name (visitor_email): Hi Chris, I just want to report that some person pages have broken Tree Display but not others.</br>visitor_name (visitor_email): broken https://wormbase.org/

[2020-01-07 20:36] WenChenWormBase commented on #7440
Fixed the gene ID and the typos on the expression cluster names.

[2020-01-07 20:36] #7440 closed

[2020-01-07 21:05] wormbasehelp opened #7493 "Chris: Hello visitor_name, how can I help? visitor..."
*Help Desk chat transcript. Issue can be closed if question was resolved in chat.*

Chris: Hello visitor_name, how can I help?</br>visitor_name (visitor_email): Hi
I am planning to do ChIP-seq in C elegans. What is the standard positive control used in this study. I realized I cannot use any histones as there are two different protocols for chromatin preparation followed in this study
https://elif

[2020-01-07 21:16] chris-grove commented on #7492
Should be resolved with ongoing work. Will leave open until resolved.

[2020-01-07 21:16] #7493 closed

[2020-01-08 09:49] wormbasehelp opened #7494 "I would like to know how to sign up a..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;I would like to know how to sign up as a lab head. I already have assigned strain and allele names but my lab does not show up in the list. <br/>Thanks in advance for yuor help, <br/>María Olmedo</p>

**Reported by:** mari******** (mari***************)
**Submitted from:** <a target="_blank" href="http://wormbase.org//tools

[2020-01-08 10:51] wormbasehelp opened #7495 "Server Error: 500 at tools/epcr/run Error M..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/tools/epcr/run">tools/epcr/run</a></p><p>
</p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::Tools-&gt;tools "Could not connect to database acedb _WS274, host: 8cbf1a1a9ee8" </p><p>What were you doing? <br />&nbsp;&nbsp;Trying to precisely locate a PCR product on

[2020-01-08 12:54] wormbasehelp opened #7496 "Server Error: 500 at rest/widget/gene/WBGene0000..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/rest/widget/gene/WBGene00000550/homology">rest/widget/gene/WBGene00000550/homology</a></p><p></p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::REST->widget "Could not connect to database acedb _WS274, host: 3346d10a0da9" </p>

**Reported by:** Anon***** (quar****

[2020-01-08 18:39] tharris commented on #7494
Invited user to the lab heads mailing list.

[2020-01-08 18:39] #7494 closed

[2020-01-08 22:58] sibyl229 commented on #7453
Hi @azurebrd and @raymond91125 the proxy and tools menu are now in place on the staging site. But the autocompletion isn't exactly working, when I tested it there. I suspect that the HTTPS on staging might have prevented some javascript library from loading over HTTP.

When you think it's ready for production or if there is anything else I need to do, please feel free to let me know.

[2020-01-09 05:47] wormbasehelp opened #7498 "Server Error: 500 at rest/widget/gene/WBGene0000..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/rest/widget/gene/WBGene00003549/homology">rest/widget/gene/WBGene00003549/homology</a></p><p></p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::REST->widget "Could not connect to database acedb _WS274, host: 3c23d078b6ae" </p><p>What were you doing? <br />&nbsp;&n

[2020-01-09 11:04] wormbasehelp opened #7499 "Hi, I've been using your Restful API ..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Hi, I've been using your Restful API over the last couple of months, and recently I've been having some problem. For example when I'm sending this http request:http://rest.wormbase.org/rest/widget/gene/WBGene00009160/overview<br/>I'm getting this following error:requests.exceptions.ConnectionError: HTTPConnectionPool(host=

[2020-01-09 14:33] wormbasehelp opened #7500 "I don't know how I got this charge on..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;I don't know how I got this charge on my card I don't use your service please cancel</p><p>What were you doing? <br />&nbsp;&nbsp;Know idea how this happened don't even know who or what this is</p>

**Reported by:** Rudy (rudy*********************)
**Submitted from:** <a target="_blank" href="http://wormbase.org//tools/sup

[2020-01-09 15:07] #7500 closed

[2020-01-09 16:48] wormbasehelp opened #7501 "Server Error: 500 at rest/widget/gene/ENSG000001..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/rest/widget/gene/ENSG00000143147/homology">rest/widget/gene/ENSG00000143147/homology</a></p><p></p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::REST->widget "Could not connect to database acedb _WS274, host: f09ee9b599c7" </p><p>What were you doing? <br />&nbsp;

[2020-01-09 18:51] tharris commented on #7499
User contacted. Issue resolved (DNS prob).

[2020-01-09 18:51] #7499 closed

[2020-01-09 22:27] raymond91125 commented on #7453
@sibyl229 We fixed all the protocol issues and both new tools appear to function properly. We think they are good for production. Thanks!

[2020-01-09 23:41] sibyl229 commented on #7453
@raymond91125 the SObA tool link and proxy should be live now on production. Cheers!

[2020-01-10 15:28] wormbasehelp opened #7507 "Chris: Hello Julia, how can I help? visitor_name (..."
*Help Desk chat transcript. Issue can be closed if question was resolved in chat.*

Chris: Hello Julia, how can I help?</br>visitor_name (visitor_email): hi!</br>visitor_name (visitor_email): I'm trying to get the sequence of a transgene listed on WormBase, but when I click on the transgene_construct link, I don't get anything!</br>visitor_name (visitor_email): it's here: https://wormbase.org/tool

[2020-01-10 15:29] #7507 closed

[2020-01-10 19:18] wormbasehelp opened #7508 "Some gene pages (e.g. aph-1, B0564.9) Expression w..."
*Help Desk query collected when no chat operators were online. Follow up required.*

Some gene pages (e.g. aph-1, B0564.9) Expression widget fail to show the graph (SObA) when there should be data. It may have something to do with the fact that there is no expression pattern but only expression cluster data.

**Reported by:** Raym******* (raym****************)
**Submitted from:** <a target="_blank

[2020-01-10 20:48] tharris commented on #7492
Issue resolved with dedicated resources for acedb-requiring features.  User contacted.

[2020-01-10 20:48] #7492 closed

[2020-01-10 20:50] tharris commented on #7495
Issue resolved; user notififed.

[2020-01-10 20:50] #7495 closed

[2020-01-10 20:53] tharris commented on #7501
Issue resolved; acedb capacity.  User notified.

[2020-01-10 20:53] #7501 closed

[2020-01-10 20:56] tharris commented on #7498
Acedb capacity; issue resolved; user contacted.

[2020-01-10 20:56] #7498 closed

[2020-01-10 21:02] tharris commented on #7487
Issue resolved; user notified.

[2020-01-10 21:02] #7487 closed

[2020-01-10 21:06] chris-grove commented on #7508
I can confirm that every gene that I've checked that has anatomy associations via expression cluster (and produce a SObA anatomy graph in the stand-alone tool) and don't have expression pattern annotations is exhibiting the problem:

tag-115
https://wormbase.org/species/c_elegans/gene/WBGene00006466#1--10

B0035.21
https://wormbase.org/species/c_elegans/gene/WBGene00235095#01--10

B0250.7
https://

[2020-01-10 21:37] tharris commented on #7496
Another issue related to acedb availability. Fixed and user notified.

[2020-01-10 21:37] #7496 closed

[2020-01-10 21:41] tharris commented on #7480
Issue resolved; user notified.

[2020-01-10 21:41] #7480 closed

[2020-01-10 21:50] tharris commented on #7479
Issue resolved; user contacted.

[2020-01-10 21:50] #7479 closed

[2020-01-10 21:50] #7345 closed

[2020-01-10 21:50] #7349 closed

[2020-01-12 08:11] wormbasehelp opened #7509 "Dear wormbase team, in the protein en..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Dear wormbase team,<br/>in the protein entry for sequence features, there are nicely shown the domains detected within a given protein, from sources such as hmmpanther, interpro, pfam, pfscan, smart, etc. I only see this as color code, but I never see any legend that gives a clue on the meaning of the color code / identiti

[2020-01-13 09:39] wormbasehelp opened #7510 "How should I find the Genomic position of chromoso..."
*Help Desk query collected when no chat operators were online. Follow up required.*

How should I find the Genomic position of chromosome II 7-11Mb on wormbase

**Reported by:** Yang***** (1575***************)
**Submitted from:** <a target="_blank" href="http://wormbase.org/https://wormbase.org/species/c_elegans/gene/WBGene00018783#04-9f16-3">https://wormbase.org/species/c_elegans/gene/WBGene00018

[2020-01-13 14:52] chris-grove commented on #7510
My email to user:
"""
Could you clarify your question? Are you looking to view that region of the genome in a genome browser? You can open up JBrowse (linkable from the Location widget on any gene page, or discoverable under the Tools menu) and paste in the following address:

II:7000000..11000000

This is a very large region, so will not be able to see much detail:

https://wormbase.org/tools/gen

[2020-01-13 14:52] #7510 closed

[2020-01-13 15:00] chris-grove commented on #7509
My email to user:
"""Thank you for writing in to WormBase. Are you referring to a protein web page like this one:

https://wormbase.org/species/c_elegans/protein/CE06191#05--10

We have a "Motif Details" widget that contains the name of the motif that links to that motif/domain page at WormBase, the description (often times a human-readable name of the domain), the source name that links to the do

[2020-01-13 15:00] #7509 closed

[2020-01-13 16:24] sibyl229 opened #7511 "Testing of gene homology widget"
Hi @Paul-Davis

Would you mind checking over the homology widget on gene page? @adamjohnwright has done a significant amount of work to migrate the widget to be based on Datomic, before he goes on leave.

The code also contains a fix for the problem that misidentifies nematode orthologs as other orthologs. Several people pointed out the issue to me recently. After we verify the widget works as exp

[2020-01-13 20:41] chris-grove opened #7512 "Variations with phenotype info in submitted ace file not in FTP phenotype associations file"
@khowe
I've assigned to you but please reassign as necessary:

I noticed that, for WS274, there 144 gene-associated variation objects that are listed in the Citace submitted allele phenotype ACE file that are missing from the FTP site "phenotype_association" file. One common feature seems to be that these are all personal communication phenotype annotations, although we already have lots of those

[2020-01-13 21:07] wormbasehelp opened #7513 "ftp://ftp.wormbase.org/pub/wormbase/ ..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;ftp://ftp.wormbase.org/pub/wormbase/<br/>this URL is giving me a 'Failed to open page' error.  the error is:<br/>"Redirection to URL with a scheme that is not HTTP(S)"</p><p>What were you doing? <br />&nbsp;&nbsp;trying to find WB's gff to see what values you guys use in col3.  underscores in SO terms or not.  we removed t

[2020-01-13 21:14] chris-grove opened #7514 "WormMine: Consolidate "Allele" and "Allleles" attributes in Gene model"
@nuin
I know we've talked about this a few times, but I didn't see a ticket for it so...

I'd like to bump this issue (as in, this may be the most important user-facing WormMine issue that needs to be addressed right now).

The Gene class model in WormMine contains two different attributes: "Allele" and "Alleles"

They are not equivalent and they do not contain the same data. I cannot tell which o

[2020-01-13 21:16] chris-grove commented on #7514
Here's the screenshot for the record:

<img width="495" alt="Screenshot 2020-01-13 16 15 47" src="https://user-images.githubusercontent.com/611382/72292733-fde8cd00-361f-11ea-936f-c60b0560a99f.png">

[2020-01-13 21:19] nuin commented on #7514
Hi @chris-grove

I have tried in the past to consolidate both, with mixed success, and now with version 4.1.1 might be the best time to tackle it.

I still think that there is some kind of core attribute in InterMine that contains one or the other that might be creating this duplication. I will go over the model again in order to see if there's a successful solution. Let me pre-process 275 and I w

[2020-01-13 21:26] chris-grove commented on #7514
OK thanks!

[2020-01-13 21:29] chris-grove commented on #7513
My email to user:
"""
 Sorry about the error. Were you using Safari by any chance? Can you tell us how you arrived at that URL (from a click or manually typed or pasted in address bar)?

To answer your question, yes we use underscores. Here's a sampling of unique terms from the first 10,000 lines of our current GFF3:

DNAseI_hypersensitive_site
G_quartet
PCR_product
RNAi_reagent
SAGE_tag
SL1_accep

[2020-01-13 21:30] chris-grove commented on #7513
From user:
"""
i just googled wormbase gff and landed on a wiki page https://wiki.wormbase.org/index.php/Downloads

now i see a big warning on that page - did you just add that?  lol i didn’t see it before.

also on that page, this link is bad: C. angaria current release current.gff3.gz
"""

[2020-01-13 21:38] chris-grove commented on #7513
From @nuin
"""
How are you trying to connect? Are you trying just to connect to the pub dir or tried a direct link to a file/folder?

The FTP site seems to be working fine for me.
"""

[2020-01-13 21:38] chris-grove commented on #7513
From user:
"""
yes Safari all the time.  Google search for ‘wormbase gff’, then clicked on ‘Downloads - WormBase Wiki’.  it’s the 6th link in the results for me.

thanks for the gff col3 info.  not sure when our underscores went missing, but i have an inkling.  we’ll add them back.  ...i can’t believe no one else complained to us about it!
"""

[2020-01-13 21:38] chris-grove commented on #7513
My email to user:
"""
 OK. It's been a known issue that Safari doesn't like to play nice with our FTP site (asks users to login, etc.).

It looks like that warning has been there since 2011 or so, so no we didn't just add it 😉

I see the Google search results (6th for me as well).

OK, glad I could clear up the GFF issue.
"""

[2020-01-13 21:46] scottcain commented on #7491
@sibyl229 Would you mind taking a look at the page Chris linked to above? In general the inserting of JBrowse images seems to be working fine, but in this example it seems to be not correctly setting the height by a few pixels.  I haven't had a chance to look at why, but I wonder if just adding 10 pixels or so to the height of every div would fix this case.

[2020-01-13 22:10] khowe commented on #7512
@chris-grove it seems that the logic of the script is: if there is a gene-phenotype association (via variation) that has paper evidence, then additional lines for the *same association* are omitted if there only have person or curator evidence.

I think that this is mostly because we had trouble representing non-paper-based association in the GAF files; so the rationale was to "hack" them into the

[2020-01-14 13:44] Paul-Davis commented on #7512
@khowe @chris-grove,

A bit more context.

Chris asked me to look at 144 instances where WBVariations are excluded/missing from the phenotype association file where the WBVariation has a gene and a curated WBPhenotype.

So after working through this it seems that what Kevin has said above is correct, but also the source of the issue.

Taking WBVar00000066 as the example it has WBGene00001196 and W

[2020-01-14 14:40] chris-grove commented on #7512
@khowe
OK, that seems to explain most of the exclusions. I wouldn't necessarily call it a bug, but rather a feature that we ought to reconsider in light of how we are now using this phenotype association file for other purposes. The issue here is that we are now using the "phentoype_association" FTP file to detect/infer all gene-phenotype associations for the WormBase Ontology Browser (WOBr) and f

[2020-01-14 15:06] Paul-Davis commented on #7512
@chris so yes those are the 2 issues, that partly cause the same result.

1) If a variation does not have a species it is excluded from the release database which in turn causes it to be excluded from the phenotype association file because of the Species and Public_names being missed. There were 244 variants that were lacking species (now patched). Of these (18 have Gene and Phenotype conections)

[2020-01-14 15:11] Paul-Davis commented on #7512
So you and @khowe  need to decide if the file should contain all gene:pheno:var triplets or show the best only.

Best Gene:Var:Pheno - Evidence Paper
Next Gene:Var:Pheno - Evidence Person
Lowest Gene:Var:Pheno - Evidence Curator

[2020-01-14 15:37] khowe commented on #7512
Some (many) associations are supported by Paper evidence, Person evidence *and* curator evidence. Should such associations get three lines in the file?  Others are supported by Person and Curator evidence. Two lines for these?

I'm going to propose this logic:
1. If an association is supported by paper and/or person evidence, it is listed once in the file for the paper, and once for the person.

2

[2020-01-14 16:35] chris-grove commented on #7512
@Paul-Davis  Thanks!
@khowe
I will discuss with @raymond91125 and @azurebrd (and possibly others at Caltech) about how we want to go ahead with this. My gut feeling is that we should include ALL annotations regardless of source (even if it is just curator evidence) which I guess would end up meaning that there would be one line for each gene-phenotype-evidence-source combination (as I guess we can

[2020-01-15 15:15] chris-grove commented on #7512
@khowe
As per our email discussion, I think your proposal to filter out curator-only and person-only evidence-based gene/phenotype/variation triples when published annotations to the same triple will be a great improvement

[2020-01-15 15:39] wormbasehelp opened #7515 "Chris: Hello visitor_name, how can I help? visitor..."
*Help Desk chat transcript. Issue can be closed if question was resolved in chat.*

Chris: Hello visitor_name, how can I help?</br>visitor_name (visitor_email): Hi there, is there somewhere on wormbase a list of germline genes and perhaps also a list of genes expressed only in somatic cells? :)</br>Chris: Sure, let me look some up</br>Chris: They will probably be "enriched" rather than exclusively

[2020-01-15 15:47] wormbasehelp opened #7516 "Chris: Hello visitor_name, how can I help? visitor..."
*Help Desk chat transcript. Issue can be closed if question was resolved in chat.*

Chris: Hello visitor_name, how can I help?</br>visitor_name (visitor_email): Hi there, is there somewhere on wormbase a list of germline genes and perhaps also a list of genes expressed only in somatic cells? :)</br>Chris: Sure, let me look some up</br>Chris: They will probably be "enriched" rather than exclusively

[2020-01-15 15:55] #7515 closed

[2020-01-15 15:55] #7516 closed

[2020-01-15 16:23] chris-grove commented on #7512
@khowe
OK, yes, I'm aware of this and I'm pretty sure (I can double check) that the SObA counting accounts for all of that.

One other thing I forgot to mention is that when the evidence is personal communication, the WBPerson ID of the reporter gets deposited in the file (good), but if the source is curator evidence there is no WBPerson listed. Maybe we should put "WormBase curator" or something?

[2020-01-15 16:31] tharris commented on #7513
Closing, as we don't develop Safari; FTP site works fine via, say, ftp clients.

[2020-01-15 16:31] #7513 closed

[2020-01-15 16:36] tharris commented on #6811
@vanaukenk not sure if you can make association between WBPerson6376 and meeting abstracts in 2012 and 2014? Looks like regional meetings.

[2020-01-15 16:39] tharris commented on #6819
@scottcain I notice that this issue is connected to an open issue at JBrowse. Still unresolved?

[2020-01-15 16:43] tharris commented on #6827
Although I think this is a reasonable suggestion, I think it's likely to be problematic for many of the reasons that Scott listed above.  As users can simply click through and open a new independent JBrowse window side-by-side, this doesn't seem to add much value. Suggest closing as a tabled request.

[2020-01-15 16:45] tharris commented on #6863
Looks good for this particular instance. @Paul-Davis please close if you concur.

[2020-01-15 16:47] tharris commented on #7022
This is an intermittent acedb capacity issue. Recent improvements should have resolved this for good. Maybe :)

[2020-01-15 16:47] #7022 closed

[2020-01-15 16:48] tharris commented on #6905
See also #7477

[2020-01-15 16:49] tharris commented on #6912
Resolved.

[2020-01-15 16:49] #6912 closed

[2020-01-15 16:52] tharris commented on #7028
I suggest we push this back to Intermine.  This is something that core loaders should handle. @nuin, tnoughts?

[2020-01-15 16:55] tharris commented on #7039
We will add this to the overview. @Paul-Davis As @scottcain suggests, is it worthwhile to propagate these to the GFF as well?

[2020-01-15 16:57] tharris commented on #7045
Resolved. Closing.

[2020-01-15 16:57] #7045 closed

[2020-01-15 16:58] wormbasehelp opened #7517 "Hi I'm curious to get the sequence of..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Hi<br/>I'm curious to get the sequence of the pSAK4 and pSAK2 plasmids to make a figure for a lecture on RNAi. Is there somewhere where I can download the primary sequences of these two plasmids?<br/>Thanks<br/>Kevin</p><p>What were you doing? <br />&nbsp;&nbsp;Teaching! : )</p>

**Reported by:** Kevi********** (kevi******

[2020-01-15 16:58] tharris commented on #7059
Ghost links now resolve. Issue resolved. Closing.

[2020-01-15 16:58] #7059 closed

[2020-01-15 17:01] tharris commented on #7062
Still astounding. We will review search flexibility in a forthcoming release.

[2020-01-15 17:03] tharris commented on #7124
Closed. Description changed to "The stage that begins after hatching and ends when the nematode becomes adult."

[2020-01-15 17:03] #7124 closed

[2020-01-15 17:06] tharris commented on #7162
Track labels are still on the tracks.  @scottcain do you plan to move?  If not please close.

[2020-01-15 17:09] tharris commented on #7187
@sibyl229 I don't have a record of this query or its resolution. Any insight?

[2020-01-15 17:12] tharris commented on #7204
Resolved.  Closing.

[2020-01-15 17:12] #7204 closed

[2020-01-15 17:15] sibyl229 commented on #7187
@tharris I replied in August 16, 2019, but forgot to mark the ticket.

Alternatively, you can use the "Sign in with Google” login option to create a new account. Or if you prefer, I can create a new account for you with this email address. But since this will be a new account, it won’t have the content that you previously saved.

Please let me know if you want a new account created with your insti

[2020-01-15 17:15] #7187 closed

[2020-01-15 17:16] tharris commented on #7212
Resolved. Prior transient issue that we spent effort to more permanently fix with WS274.

[2020-01-15 17:16] #7212 closed

[2020-01-15 17:17] nuin commented on #7028
@tharris I could try some extra sources, maybe do a post-process with some tables. But I will check with InterMine what is possible.

[2020-01-15 17:18] tharris commented on #7219
This is a very browser specific use case, expecting a copy-paste operation to preserve styling via CSS. Closing, as I believe this to be un-resolveable as stated, but with (for now) a reasonable work around.

[2020-01-15 17:18] #7219 closed

[2020-01-15 17:20] tharris commented on #7226
@Paul-Davis Pending \ resolved \ unresolvable?

[2020-01-15 17:22] tharris commented on #7239
Pushing to WS276 to address site-wide download simplification in a variety of formats.

[2020-01-15 17:23] tharris commented on #7251
Resolved.

[2020-01-15 17:23] #7251 closed

[2020-01-15 17:25] tharris commented on #7265
@kyook and @draciti old issue, but perhaps we could clarify or point out Transgene nomenclature on the Transgene page?

[2020-01-15 17:27] tharris commented on #7268
We moved my automated harness for creating per-release dump files to Hinxton long ago. This would need to be part of the build. @khowe can you or someone at Hinxton consider / implement?

[2020-01-15 17:27] tharris commented on #7286
Resolved in the best possible way: database upgrade. AKA self-resolving.

[2020-01-15 17:27] #7286 closed

[2020-01-15 17:28] tharris commented on #7290
Seems to be resolved. No follow up from user. Closing.

[2020-01-15 17:28] #7290 closed

[2020-01-15 17:33] tharris commented on #7338
I personally think we should reconsider our login system along the following lines. 1) NOT offer local wormbase accounts; 2) Deprecate login with Google which may not be available in many places and also raises privacy concerns; 3) Adopt ORCID as our third-party authentication.

[2020-01-15 17:38] tharris commented on #7339
PMID: 31744903
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6886508/
This hasn't yet landed in WB.

[2020-01-15 17:47] tharris commented on #7350
Closed. Now available in production.

[2020-01-15 17:47] #7350 closed

[2020-01-15 17:49] chris-grove commented on #7517
My email to user:
"""
We don't have the sequence of these two plasmids at WormBase, and I didn't see them at Addgene either. Here are the two WormBase pages for the constructs/plasmids:

pSAK2
https://wormbase.org/species/all/construct/WBCnstr00000216#013--10

pSAK4
https://wormbase.org/species/all/construct/WBCnstr00019450#013--10

It seems that the earliest article referencing these plasmids is

[2020-01-15 17:49] #7517 closed

[2020-01-15 17:52] tharris commented on #7353
Pop up looks good. In production with WS274. Closing.

[2020-01-15 17:52] #7353 closed

[2020-01-15 17:56] tharris commented on #7392
Semi-resolved, at least from WB perspective.

[2020-01-15 17:56] #7392 closed

[2020-01-15 18:00] tharris commented on #7406
@fayerodgers @gw3 Do you consider this resolved?

[2020-01-15 18:03] tharris commented on #7407
Apparently resolved. Closing.

[2020-01-15 18:03] #7407 closed

[2020-01-15 18:39] scottcain commented on #7225
I think it's safe to close this, since JBrowse 1 will never get this as a feature, and when we implement JBrowse 2, this feature will be coming along for the ride.

[2020-01-15 18:39] #7225 closed

[2020-01-15 19:11] scottcain commented on #7218
I forgot I looked into this.  The problem is that the modENCODE people, when they made the GBrowse configs, used one description for a large set of tracks even though it gets the names wrong in individual tracks.  Fixing that would take a while; I did a few and then got distracted.  I'll leave this open and slowly plug away at it.

[2020-01-15 19:24] scottcain commented on #6822
I don't remember seeing these comments from you @chris-grove .  Sorry about that.  Changing those buttons would be tricky, since those labels are coming directly from the GFF, and that's why it's "other": it doesn't know what it is.  For genes, I suspect it has a special case to label the unlabeled stuff as introns.  I would be somewhat reluctant to change the name of those spaces to introns in th

[2020-01-15 19:50] chris-grove commented on #7339
@tharris
FWIW: WBPaper00058884

[2020-01-15 20:14] chris-grove commented on #6822
@scottcain
OK, thanks. Point taken.
@Paul-Davis
Want to sign-off on this ticket?

[2020-01-15 21:24] kyook commented on #7226
resolved

[2020-01-15 21:24] #7226 closed

[2020-01-15 22:59] sibyl229 commented on #7508
@WenChenWormBase @draciti can I get your input on the possibility of including Expression_cluster derived Anatomy_term and Life_stage in the "Expressed in" and "Expressed during" field on the Expression widget (gene page)? These fields currently only draw evidence from the Expr_pattern.

If you are okay with this, it will help address the issue that @raymond91125 and @chris-grove described above,

[2020-01-16 16:19] wormbasehelp opened #7518 "visitor_name (visitor_email): Hello Again! I want..."
*Help Desk chat transcript. Issue can be closed if question was resolved in chat.*

visitor_name (visitor_email): Hello Again!  I want to interrogate all predicted proteins and their domain structure. In otherwords, for every protein line item, I want subsequent columns with which PFAM/SMART domains they are predicted to have.  Can you instruct me on how to do this?</br>Chris: Hi Peter! Sure, let

[2020-01-16 20:18] raymond91125 commented on #7508
I think the consensus at CalTech is that we think it is a good thing to add Expression_cluster (ones that are included in making the graph) in the data tables but that showing SObA graphs may not be contingent on that; users would benefit from seeing the graphs even if they cannot see the corresponding data in the table immediately below.

[2020-01-16 20:24] sibyl229 commented on #7508
@raymond91125 could you clarify under what condition would there be data in SObA graph but not in the table? (After the expression_cluster issue is resolved).

[2020-01-16 20:26] sibyl229 commented on #7508
Correction: @raymond91125 could you clarify under what condition would there be data in SObA graph, *while the table is empty*? (After the expression_cluster issue is resolved).

[2020-01-16 21:46] wormbasehelp opened #7519 "Hello, several questions below, but a..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Hello, several questions below, but at its most simple I am trying to get the peak height information that is associated with the modENCODE TF_binding_site data on wormbase (for ease, lets use ZIP-2 as an example). <br/>I found this thread online (https://github.com/WormBase/website/issues/6968) which shows me how to extra

[2020-01-16 22:04] chris-grove commented on #7518
My email to user:
"""
 Sorry for the delay. I'm attaching the results of the database query (for the WS275 release of WormBase) of all C. elegans proteins and their annotated/predicted domains. Also, I there are two queries using WormBase ParaSite BioMart that I think you will find useful:

1) Finding all C. elegans protein-coding genes predicted to have signal peptides
https://bit.ly/2Nxc8Z2

2)

[2020-01-16 22:26] WenChenWormBase commented on #7508
@sibyl229 In Expressed_in, you can display Expression_cluster objects that show Anatomy_term with "Enriched" in the #Expression_cluster_info as these where what we load into SoBA. Remember to skip "Expressed" and "Depleted" as they were either too general or negative data and SoBA do not include them.

You can show all Life_stage terms in Expression_cluster objects as "Expressed_during".

You can

[2020-01-16 22:40] sibyl229 commented on #7508
@WenChenWormBase Thanks for the clarification. I will keep those in mind when making the table change.

[2020-01-16 23:57] raymond91125 commented on #7508
That's it: SObA for Anatomical expression only considers Expr_pattern and Expression_cluster (restricted to those carry the "Enriched" from the #Expression_cluster_info hash). @WenChenWormBase may have something to say about this.

[2020-01-17 00:08] scottcain commented on #7519
My reply to Shane:

I am reasonably sure we do not have the peak height information for the modENCODE tracks.  We didn't process this data at all; we are just reusing the data that modENCODE produced.  I imagine it would be possible to take either the BigBed peak call data that we have in our JBrowse instance or the TF_binding_site_region features in the GFF and write a script that would use those

[2020-01-17 15:20] chris-grove commented on #7519
My reply to user:
"""
 I just thought I'd throw in my 2 cents here:

From what I've gathered, the peak calls that we display (which are not, by the way, calculated by us) are not simply based on peaks surpassing some threshold height based on average plus SD, or something like that. I think the peak calling algorithms have used a more sophisticated algorithm to call significant peaks (taking into

[2020-01-17 22:44] sibyl229 commented on #7508
Hi @raymond91125 @WenChenWormBase The Expression_cluster derived anatomy terms are added to the Expressed in table. As a result, the SObA graphs in all the examples above are showing up now and ready for testing on the staging site. Could you take a look? Thanks!

https://staging.wormbase.org/species/c_elegans/gene/WBGene00001135#10--10
https://staging.wormbase.org/species/c_elegans/gene/WBGene000

[2020-01-18 22:31] wormbasehelp opened #7521 "Yas..."
*Help Desk query collected when no chat operators were online. Follow up required.*

Yas

**Reported by:** Hait********* (hait*********************)
**Submitted from:** <a target="_blank" href="http://wormbase.org/https://wormbase.org/species/c_elegans/variation/WBVar00088893#02-456-10">https://wormbase.org/species/c_elegans/variation/WBVar00088893#02-456-10</a>
**Browser:** Chrome 79.0.3945.116

[2020-01-19 09:35] wormbasehelp opened #7522 "Server Error: 500 at tools/blast_blat/run Err..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/tools/blast_blat/run">tools/blast_blat/run</a><p>
<p>Error Message:<br> Caught exception in WormBase::Web::Controller::Tools-&gt;tools "Illegal division by zero at /usr/local/share/perl/5.26.2/Bio/Graphics/Panel.pm line 249, <gen53> line 1." </gen53></p><p>What were you doing? <br />&n

[2020-01-20 18:26] wormbasehelp opened #7523 "How does one change the primary email..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;How does one change the primary email address associated with their wormbase account? None of the secondary email seem to allow me to use or communicate with the account (they never send a validation email)  and the primary email address is no longer valid. please use vahale89@gmail.com</p><p>What were you doing? <br />&nb

[2020-01-21 00:34] WenChenWormBase commented on #7508
What is the order for the display of description, algorithm, citation, and
method of isolation? How about listing them in this order?

Description
Algorithm
Method of isolation
Citation

On Fri, Jan 17, 2020 at 2:44 PM Sibyl G <notifications@github.com> wrote:

--
Wen Chen
Curator, WormBase

[2020-01-21 14:38] #7521 closed

[2020-01-21 14:47] chris-grove commented on #7508
@sibyl229
Looks great!!

[2020-01-21 16:10] Paul-Davis commented on #6822
@scottcain looks like the improved behaviour hasn't been pushed to staging but I think it's fine to go live with this??

[2020-01-21 16:12] Paul-Davis commented on #7339
So this WBPaper ID can be added to the new track meta data in the config @scottcain thanks for following up the publication @tharris @chris-grove

[2020-01-21 16:28] Paul-Davis commented on #7511
Hi @sibyl229 apologies for the delay in looking at this.

On the few test cases I've looks at, all the data between the old version and the new version seems consistent.

The only difference is the Nematode Orthologs section now includes more nematode species  (previously wrapped into the Other Orthologues section).

I don't think this is a bad thing and might promote some of the other assemblies

[2020-01-21 16:33] epaule commented on #7511
maybe as some tiny thing: do you think you could sort the homology tables on the e-value and the percent identity ... just because quite often the p-value is 0 and then the order is a bit random between the overview and the full list.

[2020-01-21 16:34] #6863 closed

[2020-01-21 17:47] scottcain commented on #6822
@Paul-Davis I'm not sure what you mean: the "View Sequence" options is available for that track: if you right click on a pair, you get a drop down menu where the first option is view sequence, and when you select it, you get a dialog box asking which end of the pair you want to look at, and then you get the dialog box with the sequence like the screen shot I posted last year.  The only thing I hav

[2020-01-21 18:06] scottcain commented on #7339
But the publication won't appear until 276, right? It's not in staging (275) now, so I'll wait until after 275 goes into production.

[2020-01-21 18:15] chris-grove commented on #7339
@scottcain
Yes, the paper isn't in WS275 and will only appear in WS276

[2020-01-21 19:37] WenChenWormBase commented on #7508
@sibyl229 would you take a look at this gene abt-2?
https://staging.wormbase.org/species/c_elegans/gene/WBGene00000020#01--10

It seems that the four expression clusters have various orders of display of information. WBPaper00051039:intestine_enriched has no experiment info. It is derived from RNASeq. Although there is no Analysis information in WormBase, there should be a mention that this is an

[2020-01-21 20:59] rankishore commented on #7523
@sibyl229 and @ceciliaWBPerson1 are taking care of this issue.

[2020-01-22 14:51] chris-grove opened #7524 "Gene page phenotypes widget needs to display strain public name instead of Strain ID"
Just noticed: Since we have now instantiated serial IDs for strains and have instantiated a public name to hold the old primary name, the Phenotypes widget on gene pages are displaying strains as IDs rather than public names:

https://wormbase.org/species/c_elegans/gene/WBGene00004393#0b7--10

See, for example, the "early larval lethal" phenotype entry

We need to update those to display public na

[2020-01-22 14:56] wormbasehelp opened #7525 "Chris: Hello Hala, how can I help? visitor_name (v..."
*Help Desk chat transcript. Issue can be closed if question was resolved in chat.*

Chris: Hello Hala, how can I help?</br>visitor_name (visitor_email): I have a question about the genetic nomenclature of a specific gene</br>Chris: OK sure</br>visitor_name (visitor_email): The rnt-1 gene in c. elegans has lots of variations</br>visitor_name (visitor_email): what do they mean</br>visitor_name (visi

[2020-01-22 14:58] #7525 closed

[2020-01-22 15:40] chris-grove commented on #7138
These have all been addressed. Closing.

[2020-01-22 15:40] #7138 closed

[2020-01-22 15:47] chris-grove opened #7526 "Protein domain FTP file only includes InterPro domains; should include all others in DB"
Currently, the protein domains file on the FTP site only includes Interpro domain info even though we have many other domains (from other sources) in the database. We should add in all domains (from all sources) into the FTP file.

Current (WS274) file here:

ftp://ftp.wormbase.org/pub/wormbase/releases/current-production-release/species/c_elegans/PRJNA13758/annotation/c_elegans.PRJNA13758.WS274.p

[2020-01-22 15:49] chris-grove commented on #7394
This feature has already been implemented. Closing.

[2020-01-22 15:49] #7394 closed

[2020-01-22 15:51] wormbasehelp opened #7527 "Server Error: 500 at rest/widget/all/static-widg..."
*Submitted from the feedback form on the WormBase website.*

<p>Server Error: 500 at <a href="http://wormbase.org/rest/widget/all/static-widget-76/all?download=1&amp;content-type=text%2Fhtml">rest/widget/all/static-widget-76/all</a></p><p>
</p><p>Error Message:<br> Caught exception in WormBase::Web::Controller::REST-&gt;widget "Could not fetch object static-widget-76, all at /usr/local/wormbase/we

[2020-01-22 20:45] sibyl229 commented on #7511
@Paul-Davis @epaule Thanks a lot for checking!

@Paul-Davis The code now uses a different approach to identify nematode orthologs from the other orthologs. It identities a gene as a nematode gene if and only if it has Corresponding_CDS. Do you think there is a better approach?

@epaule I configured the sorting to use percent value when the e-value ties. Here is an example: http://sibyl.wormbase.or

[2020-01-22 21:20] sibyl229 commented on #7527
Replied for clarification.

[2020-01-23 07:33] wormbasehelp opened #7529 "Hi.. I am interested in identifying the location o..."
*Help Desk query collected when no chat operators were online. Follow up required.*

Hi..
I am interested in identifying the location of number of genes in C. elegans.

could you please help me whether any of the tools in wormbase can be performed ?

(the number of proteins is around 900-1000)

**Reported by:** Poor************ (poor********************)
**Submitted from:** <a target="_blank" href

[2020-01-23 10:05] epaule commented on #7526
resolved for WS276

[2020-01-23 10:05] #7526 closed

[2020-01-23 10:07] epaule commented on #7511
nice :-)
but I am wondering why the percentage in the full list are different than in the overview, I thought Adam used the same function to calculate it

[2020-01-23 16:15] wormbasehelp opened #7530 "Chris: Hello visitor_name, how can I help? visitor..."
*Help Desk chat transcript. Issue can be closed if question was resolved in chat.*

Chris: Hello visitor_name, how can I help?</br>visitor_name (visitor_email): I'm trying to download the entire genome sequence of c elegans to make primers for PCR</br>visitor_name (visitor_email): where can i get that</br>Chris: You can get it from a number of places; the easiest may be to hover your cursor over t

[2020-01-23 16:16] #7530 closed

[2020-01-23 16:29] wormbasehelp opened #7531 "Testing! Please ignore. Testing to en..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Testing! Please ignore.<br/>Testing to ensure issue tracking is no longer linked from webpages or emails during the "Contact us" workflow.</p><p>What were you doing? <br />&nbsp;&nbsp;Just testing..</p>

**Reported by:** Siby* (siby**************)
**Submitted from:** <a target="_blank" href="http://staging.wormbase.org//to

[2020-01-23 16:34] chris-grove commented on #7529
My email to user:
"""
You can get the genomic location for a list of genes using either WormMine or WormBase ParaSite BioMart.

1) For WormMine, navigate to the WormMine homepage (a link to which is discoverable under the WormBase Tools menu):

http://intermine.wormbase.org/tools/wormmine/begin.do

Click on the "Lists" tab, then click on "Upload" (if not already selected), make sure "Gene" is sele

[2020-01-23 16:34] #7529 closed

[2020-01-23 16:35] chris-grove commented on #7526
Thanks @epaule !

[2020-01-23 16:50] #7531 closed

[2020-01-23 17:03] sibyl229 commented on #7511
@epaule good catch. Let me check.

[2020-01-23 17:09] sibyl229 commented on #7511
@epaule the percentage in the summary list seems to match what's on staging based on ACeDB. Do you agree that the percentage value in the summary list is correct?

[2020-01-23 20:05] wormbasehelp opened #7533 "Testing! Please ignore ..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Testing! Please ignore</p>

**Reported by:** Siby* (wgao***********)
**Submitted from:** <a target="_blank" href="http://wormbase.org//tools/support">/tools/support</a>
**Browser:** Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36

[2020-01-23 20:30] #7533 closed

[2020-01-23 20:35] wormbasehelp opened #7534 "Testing! Please ignore. Sorry, I can'..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Testing! Please ignore.<br/>Sorry, I can't reproduce this issue in any environment other that in production.</p>

**Reported by:** Siby* (wgao***********)
**Submitted from:** <a target="_blank" href="http://wormbase.org//tools/support">/tools/support</a>
**Browser:** Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWeb

[2020-01-23 20:45] wormbasehelp opened #7535 "We are using Alaska software to analy..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;We are using Alaska software to analyse our RNAseq data. We have two bugs to report:<br/>1. Two of the C. elegans reference genomes give errors. When using the ref genome PRJEB28388, our analysis at failed at step 3 (differential expression analysis. When using ref genome PRJNA275000, analysis failed at step 2 (alignment a

[2020-01-23 21:35] wormbasehelp opened #7536 "Testing. Please ignore. ..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Testing. Please ignore.</p>

**Reported by:** Siby* (wgao***********)
**Submitted from:** <a target="_blank" href="http://wormbase.org//tools/support">/tools/support</a>
**Browser:** Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36

[2020-01-23 21:57] wormbasehelp opened #7537 "Testing! Please ignore. Testing' Test..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Testing! Please ignore.<br/>Testing'<br/>Testing"</p>

**Reported by:** Siby* (siby**************)
**Submitted from:** <a target="_blank" href="http://wormbase.org//tools/support">/tools/support</a>
**Browser:** Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safa

[2020-01-23 23:24] sibyl229 commented on #7491
@scottcain @chris-grove I think the issue here is that the JBrowse window is currently defined based on the location of the PCR product, rather than the gene. So the code works as expected. But it might be more _desirable in this case_, if we were to define the jbrowse window based on the surrounding gene(s) (somehow).

Something to consider:
- Is this generally desirable on PCR and Oligos?
- Whic

[2020-01-24 00:01] sibyl229 commented on #7511
@epaule the percentage issue should be fixed now. But there is something odd in the full BLAST list, where there are 2 hits on the same protein but with different e-values:
![Screen Shot 2020-01-23 at 7 00 02 PM](https://user-images.githubusercontent.com/1753893/73034405-cabdef00-3e12-11ea-9d13-41d7c73c6a5f.png)

Do you think it's correct?

[2020-01-24 01:46] scottcain commented on #7491
@sibyl229 what you're describing is actually a different issue (which I'd like to address but is a little harder, so yes, it can wait until Adam comes back).  The issue here is at the very top of the image that @chris-grove posted: it trims off the top of the gene track, so you can't make it out, and there is a scroll bar on the right which shouldn't be there, so the div isn't quite high enough wh

[2020-01-24 09:49] epaule commented on #7511
good question. In ACeDB there is only one homology block in the protein for RP05800, and there is only one protein for WBGene00000904. Maybe there is case to have a look at the data in Datomic :thinking:

[2020-01-24 11:11] wormbasehelp opened #7538 "Hello, I am visitor_name, M.Sc. stude..."
*Submitted from the feedback form on the WormBase website.*

<p>&nbsp;&nbsp;Hello,<br/>I am visitor_name, M.Sc. student in Turkey. I would like to download whole gene interaction database for C. elegans but could not find it. Could you please provide me the data, or direct me to be able to download the data?<br/>Thanks in advance<br/>visitor_name</p>

**Reported by:** Must*** (must****************

[2020-01-24 16:19] chris-grove commented on #7538
My email to user:
"""
The current interactions file can always be found on our FTP site in this directory:

ftp://ftp.wormbase.org/pub/wormbase/releases/current-production-release/species/c_elegans/PRJNA13758/annotation/

The current file for the WS274 release of WormBase is here:

ftp://ftp.wormbase.org/pub/wormbase/releases/current-production-release/species/c_elegans/PRJNA13758/annotation/c_ele

[2020-01-24 16:19] #7538 closed

[2020-01-24 18:15] sibyl229 commented on #7508
Hi @WenChenWormBase I will look into the order of attributes, to see if there is something I can do. But it's not possible to derive the RNAseq from the Datomic database, because empty tags are removed during the migration process, and is not found in database that I have access to. Hinxton probably knows more.

[2020-01-24 18:16] rankishore commented on #7535
Replied to User, and directed e-mail to Hinxton curators requesting them to help Alexandra.

[2020-01-24 19:19] tharris opened #7539 "Add an entry to the search index for WormBoard"
With Xapian, we could add arbitrary content to the search index.  Could we do the same with ES?

Specifically, it's been requested that users searching for WormBoard|wormboard be directed to

https://wiki.wormbase.org/index.php/WormBoard

Possible?

[2020-01-24 19:19] #7536 closed

[2020-01-24 19:19] #7537 closed

[2020-01-24 19:19] #7534 closed

[2020-01-24 19:45] tharris opened #7541 "Revisit Copyright, warranty, licensing, privacy"

[2020-01-24 19:52] tharris commented on #7541
CCPA, GDPR, info we collect, etc, etc

[2020-01-24 20:48] sibyl229 commented on #7508
@WenChenWormBase Not exactly what you asked for. But I changed the order of the key value pairs to be alphabetical, instead of a random order as was previously. It's difficult to make it ordered based on our choice, because the data structure we chose (a hash) doesn't preserve order. This problem is universal on the WormBase site, where evidence/detail is displayed.

[2020-01-24 21:22] WenChenWormBase commented on #7508
Looks great, thank you @sibyl229 !

[2020-01-24 21:22] #7508 closed

[2020-01-24 21:27] sibyl229 commented on #7491
@scottcain I see what you mean now. I will need to take a took at the code that resize the embedded jbrowse frame. Do you suppose jbrowse has something new that help with determine the size of the frame?

[2020-01-24 21:37] sibyl229 commented on #7491
@scottcain how about this? http://sibyl.wormbase.org/species/all/pcr_oligo/sjj_C54D1.5#1--10

The height should be enough that the scroll bar should gone (by the time it finishes loading/calculating the height).

[2020-01-24 21:40] chris-grove commented on #7491
@sibyl229
Much better thanks! I'll let @scottcain sign off if he thinks the solution works.